@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --color1:#cae8d5;
    --color2: #777;

    --headerfont: 'Tangerine', cursive;
}

body{
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Start Navbar */
.navbar{
    background-color: #fff;
    padding: 25px 30px;
    transition: all 0.3s;
    z-index: 100;
}

.navmenus{
    background-color: #fff;
    padding: 7px 30px;
}

.btns{
    background: var(--color2);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    line-height: 16px;
}

.nav-link{
    letter-spacing: 1px;
}

/* End Navbar  */

/* Start Banner  */
.img-blocks{
    height: 100vh;
    background-image: url("../assets/img/datas/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}

.img-blocks::after{
    content: '';
    width: 50vw;
    height: 80vh;
    background: var(--color1);
    position: absolute;
    bottom: -10%;
    right: -10%;

    z-index: -1;
}
/* End Banner  */

/* Start Banner */
.headerfonts{
    font-family: var(--headerfont);
    font-size: 3rem;
}

.rows{
    height: 250px;
}

.imgs{
    width: 250px;
}

.paras{
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .imgs{
        width: 150px;
    }

    .paras{
        text-align: center;
    }
}
/* End Banner */

/* Start Carousel  */
.carousel{
    background-color: var(--color1);
    height: 100vh;
    position: relative;
}

.carousel-inner{
    position: absolute;
    top: -15%;
    left: 3%;
}

.carousel-indicator{
    position: absolute;
    bottom: 3%;
    left: 50%;

    z-index: 10;
}

.carousel-indicator button{
    width: 28px;
    height: 3px;
    background-color: var(--color2);
    border: 0;
    cursor: pointer;
}

.card{
    border: 0;
    background-color: transparent;
    width: 1000px;
    text-align: center;
}


@media (max-width:1200px) {
    .card{
        width: 800px;
    }

    .card-body{
        width: 100%;
        margin: auto;
    }

    .carousel{
        height: 100%;
    }

    .carousel-inner{
        position: absolute;
        top: 0%;
        left: 0%;
    }
}

@media (max-width: 780px) {
    .card{
        width: 500px;
    }
}

@media (max-width:640px) {
    .card{
        width: 270px;
        border: 0;
        background-color: transparent;
        margin: auto;
    }

    .slider-imgs{
        width: 500px;
        background-position: center;
        background-size: cover;
        object-fit: cover;
        
    }
}
/* End Carousel  */

/* Start Services  */
.icons{
    background-color: var(--color1);
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.icons img{
    width: 75px;
}

@media (max-width: 1200px) {  
    .services{
       margin-top: 750px;
    }
}

@media (max-width: 640px) {  
    .services{
        margin-top: 650px;
    }
}

/* End Services */

/* Start Accordion  */

.accordion-container{
    width: 100%;
    border: 1px solid var(--color2);
}

.accord-header{
    color: var(--color2);
    padding: 16px 20px;
}

.accord-title{
    font-size: 20px;   
}

.accord-body{
    padding: 16px 20px;
}

.collapse{
    height: 0px;
}

.accord-item{
    border-bottom: 1px solid #ccc;
}

/* End Accordion  */

/* Start About  */
.img-blocks-about{
    width: 400px;
    position: relative;
}

.img-blocks-about img{
    width: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.img-blocks-about::after{
    content: '';
    width: 400px;
    height: 300px;
    background-color: var(--color1);
    position: absolute;
    bottom: -5%;
    right: -5%;

    z-index: -1;
}

@media (max-width: 1200px) {
    .img-blocks-about img{
        width: 300px;
    }

    .img-blocks-about::after{
        display: none;
    }
}

/* ENd About  */

/* Start Contact Us  */
.contacts{
    background:linear-gradient(-110deg,
        rgba(0,0,0,1)0%,
        rgba(0,0,0,0.9)50%,
        transparent 50%
    ), url("../assets/img/datas/slider3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts h3{
    color: springgreen;
}

.inputs{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid var(--color2);
}

.inputs:focus{
    box-shadow: none;
    background-color: transparent;
}

.submit-btns{
    background-color: transparent;
    color: springgreen;
    border: 0;
    padding: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid springgreen;
    transition: all 0.4s ease;
}

.submit-btns:hover{
    background-color: springgreen;
    color: white;
}

@media (max-width: 1200px) {
    .inputs::placeholder{
       color: #f3f3f3;
    }
}

/* End Contact Us  */

/* Start Footer  */
footer{
    background-color: var(--color2);
}

.link-footers{
    color: #bbb;
    text-decoration: none;
}

.link-footers:hover{
    color: #fff;
}

.subinputs{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
}

.subinputs::placeholder{
    color: white;
}

.subinputs:focus{
    background-color: transparent;
}

.subscribe{
    background-color: red;
    color: white;
    border: 0;
    border-radius:0 30px 30px 0;
    padding: 11px;
    letter-spacing: 1px;
}

.icon-links{
    text-decoration: none;
    color: #bbb;
    margin: 15px;
}

.icon-links:hover{
    color: white;
}
/* End Footer  */